.backgroundclose{
    background: rgba(0, 0, 0, 0.473);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    cursor: pointer;
}
.newNote{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 99;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    background-color: white;
    border-radius: 15px;
    max-height: 800px;
    min-width: 300px;
    font-size: 18px;
    label{
        margin-left: 20px;
    }
    h1{
        background: #0d6efd;
        color: white;
        width: 100%;
        overflow: hidden;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    h2{
        margin-bottom: 0;
    }
    h2.p-2{
        background: #6c757d;
        color: white;
        width: 100%;
        overflow: hidden;
        text-align: center;
       transition: all .3s ease;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        
        
    }
    h2.p-2:hover{
        background: #434649;
        cursor: pointer;
    }
    input[type="checkbox"]{
        margin-left: 15px;
    }
    textarea{
        max-height: 400px;
    }
    input[type="text"] , textarea{
        width: 210px;
    }

    .newNote__add{
        width: 100%;
    }
    .spanValidation{
        width: 100px;
        margin-left: 20px;
        color: red;
        font-size: 0.8em;
    }
}