body {
background-image: url('./media/images/dark_wood.png');
background-position:center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
overflow-x: hidden;
}

/* CSS TRANSITION GROUP */
/* appear */
.show-appear{
    transform: translateX(-100%);
}
.show-appear-done{
    transform: translateX(0);
}
/* enter */
.show-enter{
    transform: translateX(-100%);
}
.show-enter-done{
    transform: translateX(0);
    transition: all 500ms ease;
}
/* exit */
.show-exit{
    transform: translateX(0);
    transition: all 500ms ease;
}
.show-exit-active{
    transform: translateX(100%);
    transition: all 500ms ease;
}
.show-exit-done{
    transform: translateX(100%);
}